<div class="row">
    <div class="col-3">
        <table>
            <ng-container *ngFor="let stud of studentList">
                <tr *ngIf="stud.isActive">
                    <td></td>
                </tr>
            </ng-container>
        </table>
    </div>
    <div class="col-3">
        <ng-container *ngTemplateOutlet="templateRef"></ng-container>

        <ng-template #templateRef>
            <p>Product is Deactive</p>
        </ng-template>

    </div>
    <div class="col-3">
        <p *ngIf="isProductActive else templateRef">Product Acive</p>
        <ng-template #templateRef>
            <p>Product is Deactive</p>
        </ng-template>
    </div>
    <div class="col-3">
        <ng-container *ngIf="studentList.length > 0; else noItems">
            <ul>
              <li *ngFor="let item of studentList">
                {{ item }}
              </li>
            </ul>
          </ng-container> 
          <ng-template #noItems>
            <p>No items found.</p>
          </ng-template>
    </div>
</div>

<ng-template #ulTem let-list>
     <ul>
        @for (item of list; track $index) {
            <li>{{item}}</li>
        } 
     </ul>
</ng-template>
<div class="row">
    <div class="col-4"> 
       <ng-container *ngTemplateOutlet="ulTem; context: { $implicit: cityList }"></ng-container>
    </div>
    <div class="col-4">
        <ng-container *ngTemplateOutlet="ulTem; context: { $implicit: stateList }"></ng-container>
    </div>
</div>
<button (click)="read()">read service data</button> 

<br>
<br>
<app-rxjs-operator></app-rxjs-operator>