<div class="row">
    <div class="col-8">
        <app-my-card [cardTitle]="'Test Card'" [htmlTemplate]="myTem">

        </app-my-card>
    </div>
    <div class="col-4">
        <app-my-card [cardTitle]="cardTitleName" [htmlTemplate]="myTem2">

        </app-my-card>
    </div>
</div>




<ng-template #myTem>
        <app-my-table [colArray]="['name','username','email','website']" [gridDataList]="userList"></app-my-table>
</ng-template>


<ng-template #myTem2>
    <app-my-table [colArray]="['empId','empName','emmProjectName']" [gridDataList]="empList"></app-my-table>
</ng-template>
