<div class="container-fluid">
    <div class="row">  
       <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                   use of map Operator
                </div>
                <div class="card-body">
                    consider api response like this
                    <app-code-block [code]="sampeArrStr"></app-code-block> 
                    <div class="row">
                        <div class="col-6"> 
                            <app-code-block [code]="mapNewArr"></app-code-block> 
                        </div>
                        <div class="col-6"> 
                            <app-code-block [code]="getsuer2str"></app-code-block> 
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                   use of map Operator with array filter method
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-6"> 
                            <app-code-block [code]="arryStr"></app-code-block> 
                            <app-code-block [code]="filterstr"></app-code-block> 
                        </div>
                        <div class="col-6"> 
                            <app-code-block [code]="filtertsr1"></app-code-block> 
                            <app-code-block [code]="filterstr2"></app-code-block> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                  tap operator
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-7"> 
                            but here we are extracting only fddMeasurements but storing whole response in service variable
                            <app-code-block [code]="tapStr"></app-code-block>  
                        </div> 
                        <div class="col-5">
                            api full Response
                            <app-code-block [code]="oroftStr"></app-code-block>  
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>