<div class="container">
    <div class="row">  
       <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    Change Detection
                </div>
                <div class="card-body">
                 
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- <ul>
    @for (item of cityList; track $index) {
        <li>{{item}}</li>
    }
</ul>

<ul>
    @for (item of cityData; track $index) {
        <li>{{item}}</li>
    }
</ul>

{{isRender()}}
<button (click)="showAlert()">show</button> -->
<button (click)="addVale()">Add Value to Service Var</button>
