<div class="container-fluid">
    <div class="row"> 
         <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    Hot and Cold Observables in RxJS
                </div>
                <div class="card-body"> 
                    <p>A cold observable creates a new execution for each subscriber — like an HTTP call. A hot observable shares the same data stream among all subscribers — like fromEvent or a Subject. In Angular, cold observables are common for APIs, but we can convert them to hot ones using shareReplay when caching is needed.</p>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <ul>
                                <li>Starts emitting only when someone subscribes.</li>
                                <li>Each subscriber gets separate data streams.</li>
                                <li>Each subscriber gets a different random value.</li>
                            </ul>
                            <app-code-block [code]="coldStr"></app-code-block>  
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <ul>
                                <li>Subscribers share the same source. It emits even if no one is listening yet.</li>
                                <li>All subscribers share the same data source.</li> 
                            </ul> 
                            <app-code-block [code]="hotsStr"></app-code-block>  
                        </div>
                    </div> 
                </div>
            </div>
        </div> 
       <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    Debouncing Using Rxjs Operator
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            in.ts
                            <app-code-block [code]="debound"></app-code-block> 
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            in.html
                            <app-code-block [code]="text"></app-code-block> 
                        </div>
                        <div class="col-12">
                            <ul>
                                <li> debounceTime => it will wait for perticular time the it will execute</li>
                                <li> distinctUntilChanged=> it will check if old value is same or not - in case of copy paste we can have same value pasted again so it should not trigger api call</li>
                                <li> switchMap => if existing api call going on & before response came another api call trigger it will cancel previous api call</li>
                                <li>filter => it's checking if min 3 char is there then only it will trigger api call</li>
                            </ul> 
                            <app-code-block [code]="docuContr2"></app-code-block> 
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    Various ways to create observables
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <app-code-block [code]="ofobs"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <span>Here we get City Array</span>
                            <app-code-block [code]="ofsub"></app-code-block> 
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <app-code-block [code]="fromobs"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <span>Here Subbscribe block will execute for every element in array, each time we will get single element like for loop</span>
                            <app-code-block [code]="fromobssub"></app-code-block> 
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            this is like setInterval from javaScript, if will emit data after 1 sec
                            <app-code-block [code]="intervlstr"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <span>subscribe will execuite after 1 sec</span>
                            <app-code-block [code]="intersubstr"></app-code-block> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    takeUntil operator
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                             we create inverval and another observable
                            <app-code-block [code]="takeuntillstr"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <span>after 5 sec we are emiting another obserable so interval will stop after that</span>
                            <app-code-block [code]="untilsubStr"></app-code-block> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    take (number)
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                             create a interval which emits value after 1 sec
                            <app-code-block [code]="timetTak"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            <span>here we use take so after 3rd it will stop receiving data, its like unsubscribe</span>
                            <app-code-block [code]="timestrsub"></app-code-block> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                   delay
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">
                            just Like setTimeout
                            <app-code-block [code]="deltystr"></app-code-block> 
                        </div> 
                        
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                   combine Multple observable=> forkJoin, mergeMap
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <app-code-block [code]="forkObsStr"></app-code-block> 
                            <app-code-block [code]="forkSubStr"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <app-code-block [code]="meprMapStr"></app-code-block> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    combineLatest, combineLatestWith
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <app-code-block [code]="combLatStr"></app-code-block> 
                            <app-code-block [code]="combGHtlStr"></app-code-block> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <app-code-block [code]="combLateSubStr"></app-code-block> 
                            <app-code-block [code]="comblatewith"></app-code-block> 
                            <p>Both will Behave same</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                  switchMap |  mergeMap | concatMap |  exhaustMap
                </div>
                <div class="card-body">  
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                             <h6>🌀 switchMap: The Smart Replacer</h6>
                            <ul>
                                <li>It cancels the previous inner observable whenever a new one comes in.</li>
                                <li>Useful when you only care about the latest emitted value.</li>
                                <li>✅ Great for: Autocomplete, live search, debounced input</li>
                            </ul> 
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                            <app-code-block [code]="swichMapStr"></app-code-block>  
                            <app-code-block [code]="switcjmapstr2"></app-code-block>  
                        </div>
                    </div> 
                     <hr>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                             <h6>🌊 mergeMap: The Parallel Player</h6>
                            <ul>
                                <li>It subscribes to all inner observables concurrently.</li>
                                <li>Doesn’t cancel anything, so all requests will go through.</li>
                                <li>✅ Great for: Making multiple API calls in parallel</li>
                                <li>No control over completion order</li>
                            </ul> 
                            <app-code-block [code]="mergmpestr3"></app-code-block>    
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                            <app-code-block [code]="mergeMapstr2"></app-code-block>  
                            <app-code-block [code]="mergeMApStr"></app-code-block>
                             
                        </div>
                    </div> 
                    <hr>
                     <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                             <h6>🚶‍♂️concatMap: The Queue Followerr</h6>
                            <ul>
                                <li>Waits for each inner observable to complete before subscribing to the next.</li>
                                <li>Preserves order </li>
                                <li>Great for: Step-by-step processes-Save form => Upload image => Send confirmation</li> 
                            </ul>   
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                            <app-code-block [code]="concatmapstr"></app-code-block>   
                             
                        </div>
                    </div> 
                     <hr>
                     <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                             <h6>🚫 exhaustMap: The Gatekeeper</h6>
                            <ul>
                                <li>Ignores new emissions if there’s an active inner observable.</li>
                                <li>Good for avoiding duplicate actions — like preventing multiple api calls.</li>
                                <li>if one api call is in progress - it won't proccess another api call</li> 
                            </ul>   
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12">  
                            <app-code-block [code]="exhostmapstr"></app-code-block>   
                             
                        </div>
                    </div> 
                </div>
            </div>
        </div>
         <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                     multple api call, sequencial one then next then next
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <app-code-block [code]="multstr"></app-code-block>  
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6 col-sm-12"> 
                            <app-code-block [code]="multstr2"></app-code-block>  
                        </div>
                    </div> 
                </div>
            </div>
        </div>
         <div class="col-12 col-md-12 col-lg-12 col-sm-12 pt-2">
            <div class="card">
                <div class="card-header bg-secondary">
                     on success of one api call trigger another api call with paramater from 1st api resposne and need both response
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-sm-12"> 
                            <app-code-block [code]="multpleseqstr"></app-code-block>  
                        </div>  
                    </div> 
                </div>
            </div>
        </div>
    </div> 
</div>


<div class="row">
    <div class="col-3">
        <input type="text" [formControl]="searchControl" class="form-control" placeholder="serch"/>
    </div>
    <div class="col-3">
        <input type="text" [formControl]="userIdFilter" class="form-control" placeholder="Gte User By Id"/>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <button class="btn btn-success" #loginBtn>Login</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <select [formControl]="stateFilter">
            <option value="">Select</option>
            <option value="MAH">MAH</option>
            <option value="GOA">GOA</option>
            <option value="Punjab">Punjab</option>
        </select>
    </div>
    <div class="col-3">
        <select [formControl]="cityFilter">
            <option value="">Select</option>
            <option value="Nagpur">Nagpur</option>
            <option value="Pune">Pune</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Panji">Panji</option>
            <option value="Ludhiyana">Ludhiyana</option>
        </select>
    </div>
</div>